header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 15px 25px;
  background-color: navy;

  nav {
    width: 100%;
    padding: 15px;

    ul {
      list-style-type: none;

      a {
        &:link {
          color: white;
          text-decoration: none;
        }
  
        &:visited {
          color: cyan;
          text-decoration: none;
        }
  
        &:hover {
          color: blue;
          background-color: aquamarine;
          text-decoration: underline;
        }

        &:active {
          color: aquamarine;
          text-decoration: none;
        }
      }

    }
  }
}